.container {
  text-align: center;
  font-size: 2rem;
  font-family: Roboto, sans-serif;
}
#value {
  font-size: 6rem;
  font-weight: 600;
}
.btn {
  background: transparent;
  padding: 5px 20px;
  border: light;
  border-radius: 5px;
  margin: 0.5rem;
  cursor: pointer;
}
.btn:hover {
  color: white;
  background: rgba(0, 0, 0, 0.5);
}
.positive {
  color: green;
}
.negative {
  color: red;
}
.zero {
  color: black;
}
